.place__url-heading {
    margin: 0;
    font-family: 'Inter';
    font-style: 'regular';
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    letter-spacing: 2px;
    fill: solid;
    color: #AAAAAA;
    max-width: 456px;
    min-height: 12px;
    margin-bottom: 12px;
}