.body {
  background-color: #2A2C2F;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  /*display: flex;
  flex-direction: column;Ы
  align-items: center;*/
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1280px) {
  .body {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .body {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .body {
    max-width: 768px;
    /*margin-left: 95px;*/
  }
}


@media screen and (max-width: 320px) {
  .body {
    max-width: 320px;
    /* margin: 0;*/
  }
}