.page {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 6875px;
    background: #2A2C2F;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}