.intro__list {
    margin: 0;
    padding: 0;
    margin-top: 33px;
    max-width: 690px;
    min-height: 90px;
    list-style: none;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: white;
}