.lead {
    margin: 0;
    padding: 0;
    margin: 56px 148px 92px;
    margin-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 56px 48px 92px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
      margin: 48px 0 65px;
    }
}