.place__title {
    max-width: 460px;
    font-family: 'Inter';
    font-style: Black;
    font-size: 72px;
    line-height: 76px;
    text-align: left;
    fill: solid;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 48px;
    grid-area: place__title;
    align-self: end;
}