.footer__link {
    margin: 0;
    text-decoration: none;
    color: white;
    margin-right: 18px;
    font-family: 'Inter';
    Font-style: Regular;
    font-size: 16px;
    Line-height: 18px;
    text-align: left;

}

.footer__links:last-of-type {
    margin-right: 0;
}


@media screen and (max-width: 425px) {
    .footer__link {
        font-size: 24px;
        Line-height: 24px;
       display: block;
        margin-bottom: 32px;
    }
}