.footer__copyright {
    margin: 0;
    text-decoration: none;
    display: flex;
    color: white;
    padding-right: 48px;
    font-family: 'Inter';
    font-style: 'regular';
    font-size: 16px;
    line-height: 18px;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .footer__copyright {
        padding-right: 50px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 768px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 16px;
        padding-right: 50px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        padding-right: 50px;
        padding-left: 16px;
    }
}