.intro {
    margin: 0;
    max-width: 690px;
    min-height: 429px;
    margin-top: 92px;
    margin-left: -295px;
    border: 1px solid red;
}

@media screen and (max-width: 1024px) {
    .intro {
       /* margin-left: -245px; /**/
    }
}

@media screen and (max-width: 768px) {
    .intro {
      /*  margin-left: -30px; /**/
       /* margin-top: 87px; /**/
    }
}

@media screen and (max-width: 320px) {
    .intro {
        
    }
}