.intro {
    margin: 0;
    width: calc(100% - 590px);
    min-height: 429px;
    margin-top: 92px;
    margin-left: -295px;
    border: 1px solid red;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: calc(100% - 334px);
       margin-left: -245px; 
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 48px);
       margin-left: -30px; 
    margin-top: 87px; 
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: calc(100% - 29px);
    }
}