.intro {
    margin: 0;
    width: calc(100% - 590px);
    margin-right: 290px;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: calc(100% - 334px);
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 48px);
        margin-left: 190px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: calc(100% - 29px);
        margin-top: 75px;
        margin-left: 290px;
    }
}