.place__paragraf{
grid-area: place__paragraf;
Font-family: 'Inter';
Font-style: Regular;
Font-size: 16px;
Line-height: 26px;
text-align: left;
color: #FFFFFF;
max-width: 484px;
min-height: 234px;
margin-left: 40px;
}