.cover__title {
    max-width: 560px;
    min-height: 152px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: white;
    margin: 0;
    margin-top: 105px;
    margin-right: 50px;
    text-align: center;
    word-break: break-word;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        top: 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        top: 115px;
    }
}

@media screen and (max-width: 525px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        top: 33px;
    }
}