.place {
    max-width: 984px;
    padding-bottom: 72px;
    padding-right: 35px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "place__title place__website"
        "place__image place__article";
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 456px;
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        max-width: 720px;
   
    }
}

@media screen and (max-width: 767px) {
    .place {
        max-width: 500px;
        grid-template-columns: 320px;
        grid-template-rows: 1fr;
        grid-template-areas:
            "place__title"
            "place__website"
            "place__image"
            "place__article";
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
    }
}