.place {
    margin: 0;
    padding: 0;
    max-width: 984px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "place__title place__website"
        "place__image place__article";
        column-gap: 40px;
        row-gap: 48px;
}

.place:last-of-type {
    margin-bottom: 0;
}

.place:first-of-type {
    margin-top: 92px;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 456px;
        max-width: 928px;
        column-gap: 33px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        max-width: 720px;
        column-gap: 29px;
        row-gap: 40px;
        margin-bottom: 79px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        max-width: 500px;
        grid-template-columns: 320px;
        grid-template-rows: 1fr;
        grid-template-areas:
            "place__title"
            "place__website"
            "place__image"
            "place__article";
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        row-gap: 32px;
        margin-bottom: 47px;
        grid-template-columns: 319px;
        justify-content: center;
    }

    .place:first-of-type {
        margin-top: 64px;
    }

    .place:last-of-type {
        margin-top: 30px;
    }
}