.place__url-heading {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    color: #AAAAAA;
    max-width: 456px;
    margin-bottom: 12px;
}